
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
       <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
   <header>
<h1>The Maker Bus</h1>
    <nav>
          <a href="/">HOME</a>
            <a href="/home/route">ROUTE</a>
            <a href="/home/toys">TOYS</a>
            <a href="/home/timetable">TIMETABLE</a>
        
    </nav>
</header>
<section id="content">
            
<div id="container">
  @RenderBody() 
</div>
        </section>
    

</body>
</html>