<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
   
</head>
<body>
    
    
    <main>
        <div id="route" class="page">
            <h2>The bus stops here.</h2>

            <div class="myDiv">
                <img src="../../img/map-ca.png" />
                <h4>
                    SAN FRANCISCO, CA
                </h4>
                <h5> May 1</h5>

            </div>

            <div class="myDiv">
                <img src="../../img/map-tx.png" />
                <h4> AUSTIN, TX </h4>
                <h5>   May 15</h5>
            </div>

            <div class="myDiv">
                <img src="../../img/map-ny.png" />
                <h4>    NEW YORK, NY </h4>
                <h5>   May 30 </h5>
            </div>


        </div>
    </main>

</body>
</html>